---
name: Benchmarking

on:
  workflow_dispatch:

jobs:
  benchmark:
    name: "Benchmark"

    runs-on: "${{ matrix.operating-system }}"

    strategy:
      fail-fast: false

      matrix:
        operating-system:
          - "ubuntu-22.04"

        php-version:
          - "8.2"
          - "8.3"
          - "8.4"
          - "8.5"

    steps:
      -   # https://github.com/actions/checkout
        name: Checkout Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: "9.6.3"
          repository: "overtrue/phplint"

      -   # https://github.com/shivammathur/setup-php
        name: Setup PHP runtime
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php-version }}"
          coverage: "none"

      -   # https://github.com/ramsey/composer-install
        name: Install Composer dependencies
        uses: ramsey/composer-install@v3
        with:
          composer-options: "--prefer-dist"

      -   # https://github.com/phpbench/phpbench
        name: Install PHPBench
        run: |
          curl -Ls https://github.com/phpbench/phpbench/releases/download/1.4.3/phpbench.phar -o /usr/local/bin/phpbench
          chmod +x /usr/local/bin/phpbench

      -   # https://github.com/phpbench/phpbench
        name: Benchmark Baseline
        run: |
          phpbench run tests/Benchmark --progress=none --tag=baseline 

      -   # https://github.com/actions/checkout
        name: Checkout Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: "9.6"
          repository: "overtrue/phplint"
          clean: false

      -   # https://github.com/phpbench/phpbench
        name: Benchmark Report
        run: |
          phpbench run tests/Benchmark --progress=none --tag=fixed --ref=baseline --report=benchmark_compare --output=html

      -   # https://github.com/actions/upload-artifact
        name: Upload PHPBench report
        uses: actions/upload-artifact@v4
        with:
          name: "PHPBench-Report-PHP-${{ matrix.php-version }}"
          path: ".phpbench/html/index.html"
