name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: "${{ matrix.operating-system }}"

    strategy:
      fail-fast: false

      matrix:
        operating-system:
          - "ubuntu-20.04"
          - "ubuntu-22.04"

        php-version:
          - "8.0"
          - "8.1"
          - "8.2"

    steps:
      -   # https://github.com/actions/checkout
        name: Checkout code
        uses: actions/checkout@v4

      -   # https://github.com/shivammathur/setup-php
        name: Setup PHP runtime for PHPUnit 9
        uses: shivammathur/setup-php@v2
        if: ${{ matrix.php-version == '8.0' }}
        with:
          php-version: "${{ matrix.php-version }}"
          tools: phpunit:9.6

      -   # https://github.com/shivammathur/setup-php
        name: Setup PHP runtime for PHPUnit 10
        if: ${{ matrix.php-version != '8.0' }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php-version }}"
          tools: phpunit

      -   # https://github.com/ramsey/composer-install
        name: Install Composer dependencies
        uses: ramsey/composer-install@v2
        with:
          composer-options: "--prefer-dist --no-scripts"

      -   # https://github.com/sebastianbergmann/phpunit/tree/9.6
        name: Unit tests with PHPUnit 9
        if: ${{ matrix.php-version == '8.0' }}
        run: phpunit --configuration ./phpunit-9.xml --testdox --do-not-cache-result
      -   # https://github.com/sebastianbergmann/phpunit/tree/10.5
        name: Unit tests with PHPUnit 10
        if: ${{ matrix.php-version != '8.0' }}
        run: phpunit --no-progress --testdox --do-not-cache-result
